*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position:relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

h1 {
    font-size: 48px;
    background: -webkit-linear-gradient(45deg ,#2c3e50,#4ca1af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    transition: transform 1s;
    transform: translateX(0) scale(0.5);
}

h1:hover,
h1:focus{
    transform: translateX(10px) scale(1.2);
}  
